@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #d4cabd57;
}

#loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4cabd57;
}